version: "3.9"

services:
  django:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    container_name: django_backend
    restart: unless-stopped
    volumes:
      - .:/app
      # Montar la clave privada de Firebase (lectura sola) para uso con firebase-admin
      - ./backend-app-escuela-firebase-adminsdk-fbsvc-9482dd7af8.json:/run/secrets/firebase_key.json:ro
    ports:
      - "8000:8000"
    env_file: .env
    environment:
      - FIREBASE_CREDENTIALS_PATH=/run/secrets/firebase_key.json
    depends_on:
      - redis

  redis:
    image: redis:latest
    container_name: redis_cache
